<app-card titulo="Primeiro componente" cor="#aff000">
    <app-promeiro-componente></app-promeiro-componente>
</app-card>
<hr>
<app-card titulo="Segundo Componente" cor="#b2e7e3">
    <app-segundo-componente></app-segundo-componente>
</app-card>
<hr>
<app-card titulo="Pipes" cor="#bfb0aa">
    <app-pipe-costumizado></app-pipe-costumizado>
</app-card>
<hr>
<app-card titulo="Teo-way Data Binding" cor="#f2d0aa">
    <app-two-way-data-binding></app-two-way-data-binding>
</app-card>
<hr>
<app-card titulo="Renderizando Listas" cor="green">
    <app-renderizando-listas></app-renderizando-listas>
</app-card>
<hr>
<app-card titulo="Componentes personalizados" cor="#ed8975">
    <app-componente-personalizado nome = "Marcus " sobrenome = "Borges"></app-componente-personalizado>
    <app-componente-personalizado nome = "Maria " sobrenome = "Madalena"></app-componente-personalizado>
</app-card>
<hr>
<app-card titulo="Compartilhando dados entre componentes" cor="#ffe3dc">
    <app-componente-pai></app-componente-pai>
</app-card>
<hr>
<app-card titulo="Exemplos de serviços" cor="#a2ad91">
    <app-exemplo-servicos></app-exemplo-servicos>
    <app-exemplo-servicos2></app-exemplo-servicos2>
</app-card>
<hr>
<app-card titulo="Ciclo de vida" cor="#ba2d32">
    <app-ciclo-de-vida-pai></app-ciclo-de-vida-pai>
</app-card>

